*{
    margin:0;
    padding: 0;

}
h2{
    font-size: xx-large;
     align-items: center;
    margin-top: 9%;
    padding-left: 20px;
    margin: 20px;
    font-style: italic;
    border: 2px solid red;
    cursor: pointer;
    
    

    
}
h3{
    float: right;
    margin: 50px;
}
p{
    text-align: center;
}

.shoeDiv{

    align-items: center;
    margin-top: 9%;
    padding-left: 20px;
    margin: 20px;
    font-style: italic;
    font-size: large;
   
}
.shoeImage{
    max-width: 350px;
    max-height: auto;
    align-self: center;
    position: relative;
    margin: 0 250px;
    cursor: pointer;
}
.banner{
    width: auto;
    background-image: url("https://img.freepik.com/free-vector/flat-laboratory-room-with-microscope_23-2148885022.jpg");
    background-size: cover;
    height: auto;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width:140px;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color:aqua;
    padding:5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #fff;
    width: 100%;
    height: 2px;
    position:absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}
